body{
  background-color: LightSteelBlue;
}
div{
  margin: 0 auto;

  color: DarkBlue;
  font-weight: bolder;
  font-size: 40px;
}
p {
  font-size: 28px;
}
#speedBox{
  margin: 100px 100px 0;
}
#speedBox div{
  display: inline-block;
}
